<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DpgDocDbDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <DpgDocDbDemo.Properties.Settings>
      <setting name="Uri" serializeAs="String">
        <value>https://neudesicdpgtalk.documents.azure.com:443/</value>
      </setting>
      <setting name="AuthKey" serializeAs="String">
        <value>7j5LfEEzzdUYizI55C7sZQdhOm1F4XagBLpMQoorJ07mFvXx/+ZJtLYGSkYplK+BmBJvIyK4971XMi6R8x9jOQ==</value>
      </setting>
    </DpgDocDbDemo.Properties.Settings>
  </applicationSettings>
</configuration>